<body id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" class="bg-white position-relative app-blank">
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Header Section-->
    <div class="mb-0" id="home">
      <!--begin::Wrapper-->
      <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom landing-dark-bg">
        <!--begin::Header-->
        <div class="landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header"
          data-kt-sticky-offset="{default: '200px', lg: '300px'}">
          <!--begin::Container-->

        </div>
        <!--end::Header-->
        <!--begin::Landing hero-->
        <div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
          <!--begin::Heading-->
          <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">
            <div class="logo-center">
              <img src="assets/img/svg/logo-verde.svg" alt="">
            </div>
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bold fs-2x fs-lg-3x mb-15">
              <!-- <br />sua -->
              <span
                style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                <span id="kt_landing_hero_text">Sua Plataforma Gamer</span>
              </span>
            </h1>
            <!--end::Title-->
            <!--begin::Action-->
            <a routerLink="/register" class="btn btn-primary mx-1">Registrar</a>
            <a routerLink="/auth" class="btn btn-primary mx-1">Login</a>
       
            <!--end::Action-->
          </div>
          <!--end::Heading-->

        </div>
        <!--end::Landing hero-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Curve bottom-->
      <div class="landing-curve landing-dark-color mb-10 mb-lg-20">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <!--end::Curve bottom-->
    </div>
    <!--end::Header Section-->
    <!--begin::How It Works Section-->
    <div class="mb-n10 mb-lg-n20 z-index-2">
      <!--begin::Container-->
      <div class="container">
        <!--begin::Heading-->
        <div class="text-center mb-17">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5" id="how-it-works" data-kt-scroll-offset="{default: 100, lg: 150}">Conheça a Plataforma Rype</h3>
          <!--end::Title-->
          <!--begin::Text-->
          <div class="fs-5 text-muted fw-bold">Aqui você encontra diversas funcionalidades para elevar o seu jogo para o próximo nível, tem muita coisa legal, então se cadastre agora mesmo.
          </div>
          <!--end::Text-->
        </div>
        <!--end::Heading-->
        <!--begin::Row-->
        <div class="row w-100 gy-10 mb-md-20">
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <img src="assets/img/png/gerencie.png" class="mh-125px mb-9" alt="" />
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">1</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-dark">GERENCIE O SEU TIME</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
              <!--begin::Description-->
              <div class="fw-semibold fs-6 fs-lg-4 text-muted">Cadastre os membros
                <br />e os mantenha todos 
                <br />informados sobre os eventos disponíveis.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <img src="assets/img/png/organize.png" class="mh-125px mb-9" alt="" />
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">2</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-dark">DIVULGUE</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
              <!--begin::Description-->
              <div class="fw-semibold fs-6 fs-lg-4 text-muted">Além de gerenciar todas as inscrições dos eventos,
                <br />divulgue os seus Campeonatos e X-Treino para todos
                <br />os membros cadastrados em nossa Plataforma.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4 px-5">
            <!--begin::Story-->
            <div class="text-center mb-10 mb-md-0">
              <!--begin::Illustration-->
              <img src="assets/img/png/eventos.png" class="mh-125px mb-9" alt="" />
              <!--end::Illustration-->
              <!--begin::Heading-->
              <div class="d-flex flex-center mb-5">
                <!--begin::Badge-->
                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">3</span>
                <!--end::Badge-->
                <!--begin::Title-->
                <div class="fs-5 fs-lg-3 fw-bold text-dark">ORGANIZE SEUS EVENTOS</div>
                <!--end::Title-->
              </div>
              <!--end::Heading-->
              <!--begin::Description-->
              <div class="fw-semibold fs-6 fs-lg-4 text-muted">Com essa funcionalidade você pode gerenciar
                <br />e permitir o check-in dos participantes em
                <br />seus eventos de X-Treino ou Campeonatos.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Story-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->

      </div>
      <!--end::Container-->
    </div>
    <!--end::How It Works Section-->

    <!--begin::Team Section-->
    <div class="py-10 py-lg-20">
      <!--begin::Container-->
      <div class="container">
        <!--begin::Heading-->
        <div class="text-center mb-12">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5" id="team" data-kt-scroll-offset="{default: 100, lg: 150}">SOBRE A RYPE
          </h3>
          <!--end::Title-->
          <!--begin::Sub-title-->
          <div class="fs-5 text-muted fw-bold">CONHEÇA OS MEMBROS DA RYPE
          </div>
          <!--end::Sub-title=-->
        </div>
        <!--end::Heading-->
        <!--begin::Slider-->
        <div>
          <!--begin::Wrapper-->
          <div class="w-100 gy-10 mb-md-20 team">
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-juliano.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Juliano</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">CEO</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-carol.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Carol</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Co-CEO Administração</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-fael.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Fael</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Co-CEO Marketing</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-ramon.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Ramon</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Player</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-lv.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Lucas Vinicius</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Player</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-leo.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Leo</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Influencer</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-salez.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Salez</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Player</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="text-center margen-item">
              <!--begin::Photo-->
              <div
                class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                style="background-image:url('assets/img/png/avatar-bodin.png')"></div>
              <!--end::Photo-->
              <!--begin::Person-->
              <div class="mb-0">
                <!--begin::Name-->
                <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Bodin</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="text-muted fs-6 fw-semibold mt-1">Player</div>
                <!--begin::Position-->
              </div>
              <!--end::Person-->
            </div>
            <!--end::Item-->
          </div>
          <!--end::Wrapper-->


        </div>
        <!--end::Slider-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Team Section-->


    <!--begin::Testimonials Section-->
    <div class="mt-20 mb-n20 position-relative z-index-2">
      <!--begin::Container-->
      <div class="container">
        <!--begin::Heading-->
        <div class="text-center mb-17">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5" id="clients" data-kt-scroll-offset="{default: 125, lg: 150}">NOSSA VISÃO
            sobre o rype</h3>
          <!--end::Title-->
          <!--begin::Description-->
          <div class="fs-5 text-muted fw-bold">Esperamos conseguir trazer para o cenário competitivo a melhor Plataforma Gamer já existente.
            <br />Queremos que o cenário E-Sports nos vejam como a melhor forma para criar e gerenciar seus eventos, não só pela a organização que podemos proporcionar, mas também pela nossa sofisticação.
          </div>
          <!--end::Description-->
        </div>
        <!--end::Heading-->
        <!--begin::Row-->
        <div class="row g-lg-10 mb-10 mb-lg-20">
          <!--begin::Col-->
          <div class="col-lg-4">
            <!--begin::Testimonial-->
            <div class="d-flex flex-column h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
              <!--begin::Wrapper-->
              <div class="mb-7">

                <!--begin::Title-->
                <div class="fs-2 fw-bold text-dark mb-3">O QUE É O RYPE PARA O JULIANO ?
                </div>
                <!--end::Title-->
                <!--begin::Feedback-->
                <div class="text-gray-500 fw-semibold fs-4">Acredito que o RYPE veio para revolucionar o cenário gamer,
                  com uma proposta de ser tornar a maior plataforma gamer do mundo.</div>
                <!--end::Feedback-->
              </div>
              <!--end::Wrapper-->
              <!--begin::Author-->
              <div class="d-flex align-items-center">
                <!--begin::Avatar-->
                <div class="symbol symbol-circle symbol-50px me-5">
                  <img src="assets/img/png/avatar-juliano.png" class="" alt="" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <div class="flex-grow-1">
                  <a class="text-dark fw-bold text-hover-primary fs-6">Juliano</a>
                  <span class="text-muted d-block fw-bold">Nick: Seven</span>
                </div>
                <!--end::Name-->
              </div>
              <!--end::Author-->
            </div>
            <!--end::Testimonial-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-4">
            <!--begin::Testimonial-->
            <div class="d-flex flex-column h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
              <!--begin::Wrapper-->
              <div class="mb-7">

                <!--begin::Title-->
                <div class="fs-2 fw-bold text-dark mb-3">O QUE É O RYPE PARA A Carol ?

                </div>
                <!--end::Title-->
                <!--begin::Feedback-->
                <div class="text-gray-500 fw-semibold fs-4">A RYPE veio para fazer histórias, mudar vidas e
                  principalmente aprimorar o conceito de mundo gamer.</div>
                <!--end::Feedback-->
              </div>
              <!--end::Wrapper-->
              <!--begin::Author-->
              <div class="d-flex align-items-center">
                <!--begin::Avatar-->
                <div class="symbol symbol-circle symbol-50px me-5">
                  <img src="assets/img/png/avatar-carol.png" class="" alt="" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <div class="flex-grow-1">
                  <a class="text-dark fw-bold text-hover-primary fs-6">Carol</a>
                  <span class="text-muted d-block fw-bold">Nick: Fairy</span>
                </div>
                <!--end::Name-->
              </div>
              <!--end::Author-->
            </div>
            <!--end::Testimonial-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-4">
            <!--begin::Testimonial-->
            <div class="d-flex flex-column h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
              <!--begin::Wrapper-->
              <div class="mb-7">

                <!--begin::Title-->
                <div class="fs-2 fw-bold text-dark mb-3">O QUE É O RYPE PARA O Fael ?
                </div>
                <!--end::Title-->
                <!--begin::Feedback-->
                <div class="text-gray-500 fw-semibold fs-4">Vamos fazer muita história e revolucionar tudo que se possa
                  imaginar nesse cenário.</div>
                <!--end::Feedback-->
              </div>
              <!--end::Wrapper-->
              <!--begin::Author-->
              <div class="d-flex align-items-center">
                <!--begin::Avatar-->
                <div class="symbol symbol-circle symbol-50px me-5">
                  <img src="assets/img/png/avatar-fael.png" class="" alt="" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <div class="flex-grow-1">
                  <a href="#" class="text-dark fw-bold text-hover-primary fs-6">Fael</a>
                  <span class="text-muted d-block fw-bold">Nick: Fael</span>
                </div>
                <!--end::Name-->
              </div>
              <!--end::Author-->
            </div>
            <!--end::Testimonial-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Highlight-->
        <div class="d-flex flex-stack flex-wrap flex-md-nowrap card-rounded shadow p-8 p-lg-12 mb-n5 mb-lg-n13"
          style="background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);">
          <!--begin::Content-->
          <div class="my-2 me-5">
            <!--begin::Title-->
            <div class="fs-1 fs-lg-2qx fw-bold text-white mb-2">Gostou ? Então venha fazer parte da nossa
              <span class="fw-normal">Tropa RYPE 🤘🏼</span>
            </div>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="fs-6 fs-lg-5 text-white fw-semibold opacity-75">Já somos mais de 5000 apaixonados por games
            </div>
            <!--end::Description-->
          </div>
          <!--end::Content-->
          <!--begin::Link-->
          <a routerLink="/register"
            class="btn btn-lg btn-outline border-2 btn-outline-white flex-shrink-0 my-2">Registrar</a>
          <!--end::Link-->
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Testimonials Section-->
    <!--begin::Footer Section-->
    <div class="mb-0">
      <!--begin::Curve top-->
      <div class="landing-curve landing-dark-color">
        <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <!--end::Curve top-->
      <!--begin::Wrapper-->
      <div class="landing-dark-bg pt-20">
        <!--begin::Container-->
        <div class="container">
          <!--begin::Row-->
          <div class="row py-10 py-lg-20">
            <!--begin::Col-->
            <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
              <!--begin::Block-->
              <div class="rounded landing-dark-border p-9 mb-10">
                <!--begin::Title-->
                <h2 class="text-white">Precisa de ajuda ?</h2>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-normal fs-4 text-gray-700">Envie um e-mail para 
                  <a class="text-white opacity-50 text-hover-primary">contato@rype.com.br</a></span>
                <!--end::Text-->
              </div>
              <!--end::Block-->
              <!--begin::Block-->
              <div class="rounded landing-dark-border p-9">
                <!--begin::Title-->
                <h2 class="text-white">Quer fazer parte do time da RYPE ?</h2>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-normal fs-4 text-gray-700">Envie um e-mail para 
                  <a class="text-white opacity-50 text-hover-primary">recrutamento@rype.com.br</a></span>
                <!--end::Text-->
              </div>
              <!--end::Block-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-lg-6 ps-lg-16">
              <!--begin::Navs-->
              <div class="d-flex justify-content-center">
                <!--begin::Links-->

                <!--end::Links-->
                <!--begin::Links-->
                <div class="d-flex fw-semibold flex-column ms-lg-20">
                  <!--begin::Subtitle-->
                  <h4 class="fw-bold text-gray-400 mb-6">siga-nos</h4>
                  <!--end::Subtitle-->
                  <!--begin::Link-->
                  <a href="https://www.facebook.com/profile.php?id=100085430344712" target="_blank" class="mb-6">
                    <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-2" alt="" />
                    <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Facebook</span>
                  </a>
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a href="https://www.youtube.com/channel/UCbfEmWNSRoWLhLc7pvsTEEg" target="_blank" class="mb-6">
                    <img src="assets/media/svg/brand-logos/youtube.svg" class="h-20px me-2" alt="" />
                    <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Youtube</span>
                  </a>
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a href="https://www.tiktok.com/@rype.gg" class="mb-6">
                    <img src="assets/img/svg/tiktok.svg" class="h-20px me-2" alt="" />
                    <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">TikTok</span>
                  </a>
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a href="https://www.instagram.com/rype.gg/" target="_blank" class="mb-6">
                    <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-20px me-2" alt="" />
                    <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Instagram</span>
                  </a>
                  <!--end::Link-->
                </div>
                <!--end::Links-->
              </div>
              <!--end::Navs-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Footer Section-->

  </div>
  <!--end::Root-->




</body>