<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">

</div>
<!--begin::Content container-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">


    <app-basic-info></app-basic-info>

    <!--begin::Row-->
    <div *ngIf="isteam == true" class="">
      <!--begin::Card widget 15-->
      <div class="card card-flush h-xl-100">
        <!--begin::Body-->
        <div class="card-body py-9">
          <!--begin::Row-->
          <div class="row gx-9 h-100">
            <!--begin::Col-->
            <div class="col-sm-6 mb-10 mb-sm-0">
              <!--begin::Overlay-->
              <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-400px min-h-sm-100 h-100"
                style="background-size: 100% 100%;background-image:url('{{this.team.team[0].url}}')"></div>

              <!--end::Overlay-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-sm-6">
              <!--begin::Wrapper-->
              <div class="d-flex flex-column h-100">
                <!--begin::Header-->
                <div class="mb-7">
                  <!--begin::Title-->
                  <div class="mb-6">

                    <a class="text-gray-800 text-hover-primary fs-1 fw-bold">{{this.team.team[0].teamName}}</a>

                    <span class="text-gray-400 fs-7 fw-bold me-2 d-block lh-1 pb-1">Tag:
                      {{this.team.team[0].tagName}}</span>
                    <span class="text-gray-400 fs-7 fw-bold me-2 d-block lh-1 pb-1">Ranking:
                      {{this.team.team[0].ranking}}</span>
                  </div>

                  <!--end::Title-->
                  <!--begin::Items-->
                  <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-5 me-xl-13">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-30px symbol-circle me-3">
                        <img src="{{this.team.url}}" class="" alt="" />
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <span *ngIf="this.isAdmin == true" class="fw-semibold text-gray-400 d-block fs-8">Admin</span>
                        <span *ngIf="this.isAdmin == false" class="fw-semibold text-gray-400 d-block fs-8">Membro</span>
                        <a class="fw-bold text-gray-800 text-hover-primary fs-7">{{this.team.nickname}}</a>
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Item-->

                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="d-flex flex-column border border-1 border-gray-300 text-center pt-5 pb-7 mb-8 card-rounded">

                  <span class="fw-semibold text-gray-600 fs-7 pb-1">{{this.team.team[0].description}}</span>

                </div>
                <!--end::Body-->
                <!--begin::Footer-->

                <!--end::Footer-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Card widget 15-->
    </div>

    <div class="alert alert-danger" *ngIf="isteam == false">
      <h3 id="msgRetorno">Gamer não pertence a nenhum clan 🤷🏻‍♂️</h3>

    </div>
    <!--end::Row-->

  </div>
  <!--end::Content container-->


</div>
<!--end::Content-->