<div class="app-sidebar" id="sidebar-app">

    <nav class="sidebar-container">
        <a routerLink="/admin" class="title-container">
            <i class='bi bi-aspect-ratio icon-menu' ></i>
            <span class="title-name">Rype Plataform</span>
        </a>

        <div class="list">
            <div class="items">
                <a routerLink="/admin" class="link">
                    <i class='bi bi-house-check icon-menu' ></i>
                    <span class="nav-title">Home</span>
                </a>
                <div class="dropdown-collapse">
                    <div >
                        <a routerLink="/admin" class="nav__dropdown-item">Feed</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <a href="#" class="link">
                    <i class='bi bi-person icon-menu' ></i>
                    <span class="nav-title">Perfil</span>
                </a>
                <div class="dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a routerLink="/overview" class="nav__dropdown-item">Meu Perfil</a>
                        <a routerLink="/settings" class="nav__dropdown-item">Alterar Dados</a>
                        <a routerLink="/security" class="nav__dropdown-item">Alterar Senha</a>
                    </div>
                </div>
            </div>
            
            <div class="items">
                <a href="#" class="link">
                    <i class='bi bi-calendar-date icon-menu' ></i>
                    <span class="nav-title">X-treinos</span>
                </a>
                <div class="dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a routerLink="/breve"class="nav__dropdown-item">Meus treinos</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Deletar</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <a href="#" class="link">
                    <i class='bi bi-people icon-menu' ></i>
                    <span class="nav-title">Clan</span>
                </a>
                <div class="dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a routerLink="/overview-team"class="nav__dropdown-item">Meu Clan</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Deletar</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <a href="#" class="link">
                    <i class='bi bi-award icon-menu' ></i>
                    <span class="nav-title">Eventos</span>
                </a>
                <div class="dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a routerLink="/breve"class="nav__dropdown-item">Ver inscritos</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Deletar</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <a href="#" class="link">
                    <i class='bi bi-chat-dots icon-menu' ></i>
                    <span class="nav-title">Suporte</span>
                </a>
                <div class="dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a routerLink="/breve"class="nav__dropdown-item">Meus tickets</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="mobile-container">
        
        <div class="list-mobile">
            <div class="items-mobile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/admin" id="itemclick" class="nav__dropdown-item">Feed</a>
                    </div>
                </div>
                <a  class="link-mobile">
                    <i class='bi bi-house-check icon-menu-mobile'></i>
                    <span class="nav-title-mobile">Home</span>
                </a>
                
            </div>
            <div class="items-mobile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/breve" class="nav__dropdown-item">Meus treinos</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Deletar</a>
                    </div>
                </div>
                <a routerLink="/admin" class="link-mobile">
                    <i class='bi bi-calendar-date icon-menu-mobile'></i>
                    <span class="nav-title-mobile">X-Treinos</span>
                </a>
                
            </div>
            <div class="items-mobile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/breve" class="nav__dropdown-item">Meus Eventos</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Ver inscritos</a>
                    </div>
                </div>
                <a routerLink="/admin" class="link-mobile">
                    <i class='bi bi-award icon-menu-mobile'></i>
                    <span class="nav-title-mobile">Eventos</span>
                </a>
                
            </div>
          
            <div class="items-mobile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/overview-team"class="nav__dropdown-item">Meu Clan</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/breve" class="nav__dropdown-item">Deletar</a>
                    </div>
                </div>
                <a routerLink="/admin" class="link-mobile">
                    <i class='bi bi-people icon-menu-mobile'></i>
                    <span class="nav-title-mobile">Clan</span>
                </a>
                
            </div>

            <!-- <div class="items-mobile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/admin" class="nav__dropdown-item">Meus tickets</a>
                        <a routerLink="/admin" class="nav__dropdown-item">Criar</a>
                        <a routerLink="/admin" class="nav__dropdown-item">Falar com Adm,s</a>
                    </div>
                </div>
                <a routerLink="/admin" class="link-mobile">
                    <i class='bi bi-chat-dots icon-menu-mobile'></i>
                    <span class="nav-title-mobile">Suporte</span>
                </a>
                
            </div> -->
            <div  class="items-mobile" id="activeProfile">
                <div class="dropdown-collapse-mobile">
                    <div class="nav__dropdown-content-mobile">
                        <a routerLink="/overview" class="nav__dropdown-item" >Meu Perfil</a>
                        <a routerLink="/settings" class="nav__dropdown-item" >Alterar Dados</a>
                        <a routerLink="/security" class="nav__dropdown-item " id="LinkProfile">Alterar Senha</a>
                    </div>
                </div>
                <a href="#" class="link-mobile" id="toggle-profile">
                    <i class='bi bi-person icon-menu-mobile' ></i>
                    <span class="nav-title-mobile">Perfil</span>
                </a>
                
            </div>
          
           
        </div>
    </nav>


</div>