* {
    margin: 0;
}
*, ::after, ::before{
    box-sizing: border-box;
}
:root {
    --primire-color: #FDFDFD;
    --gree-color: #60F71E;
    --black-color:#2E2E31;
    --secundary-color:#828081;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
 
    
}

